body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,div
{
	margin:0;
	padding:0;
}

body,html
{
	margin:0 auto;
}

body,button,input,select,textarea
{
	color:#555555;
	font:14px 'Microsoft YaHei',tahoma,arial,\5b8b\4f53;
}

input,textarea
{
	outline:none;
}

textarea
{
	resize:none;
}

img,td
{
	vertical-align:top;	
}

fieldset,img
{
	border:0;
}

ul li
{
	list-style:none;
}

:link,:visited
{
	text-decoration:none;
}


table
{
	border-collapse:collapse;
	border-spacing:0;
}

.clearfix
{
	zoom:1;
}

.clearfix:after
{
	content:".";
	height:0;
	visibility:hidden;
	display:block;
	clear:both;
	font-size: 0;
}

a,button,input,img{-webkit-tap-highlight-color:rgba(255,0,0,0);}

.full{position:absolute;top:0px;left:0px;bottom:0px;width:100%;overflow:hidden;}